﻿/* classes */
.shadow {
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}
.bottom_shadow {
	-webkit-box-shadow: 0 5px 8px -8px rgba(0, 0, 0, .3);
	   -moz-box-shadow: 0 5px 8px -8px rgba(0, 0, 0, .3);
	        box-shadow: 0 5px 8px -8px rgba(0, 0, 0, .3);
}

.top_shadow {
	-webkit-box-shadow: 0 -15px 8px -8px rgba(0, 0, 0, .3);
	   -moz-box-shadow: 0 -15px 8px -8px rgba(0, 0, 0, .3);
	        box-shadow: 0 -15px 8px -8px rgba(0, 0, 0, .3);
}

.arr:after {
	display: inline-block;
	margin-left: 6px;
	width: 0;
	height: 0;
	border-top: #3081df 8px solid;
	border-left: transparent 6px solid;
	border-right: transparent 6px solid;
	content: "";
}

.bbox {box-sizing: border-box;}

.fl_right {float: right;}

.inherit-left { left: inherit !important;}
.inherit-top { top: inherit !important;}

.border-right{border-right: #B0B3B8 1px solid;}
.border-top{border-top: #B0B3B8 1px solid;}
.border-bottom{border-bottom: #B0B3B8 1px solid;}

.no-border {border: none !important;}
.no-top-border {border-top: none !important;}
.no-bottom-border {border-bottom: none !important;}
.no-left-border {border-left: none !important;}
.no-right-border {border-right: none !important;}
.trans-background { background: transparent !important; }

.ttn {text-transform: none !important;}
.upper {text-transform: uppercase;}

.text-center {text-align: center !important;}
.text-right {text-align: right !important;}
.text-left {text-align: left !important;}

.bline {
	border-bottom: #477dde 1px solid;
}
.vline {
	padding-right: 26px;
	margin-right: 26px;
	border-right: #3181DF 1px solid;
}
.vlinedarkright {
	padding-right: 26px;
	border-right: #B0B3B8 1px solid;
}

.vlinedarkleft {
	padding-left: 26px;
	border-left: #B0B3B8 1px solid;
}

.imp_note {
	height: 50px;
	border-bottom: #B0B3B8 1px solid;
	border-top: #B0B3B8 1px solid;
	background: #F1F1F1;
	line-height: 50px;
	font-size: 14px;
	margin-left: -49px;
	margin-right: -46px;
	padding-left: 49px;
	padding-right: 46px;
}
.ii {
	color: #01BC29;
	font-size: 15px;
	text-transform: uppercase;
	padding-left: 22px;
	background: url(../images/important.png) left center no-repeat;
	float: right;
	cursor: pointer;
}
.shrink {letter-spacing: -1px;}

.Img60MaxHeight { max-height: 60px;}

/* main structure */
#mainContainer {
	position: relative;
	width: 1200px;
	height: auto;
	margin: 0 auto;
	padding: 0;
}
#header {
	position: fixed;
	top: 0;
	height: 173px;
	width: 1200px;
	border-top: #3081df 8px solid;
	background-color: #fff;
	z-index: 999;
}
#content {
	position: relative;
	width: 1106px;
	margin-top: 181px;
	padding: 20px 45px 42px 49px;
	min-height: 400px;
	background: #fff url(../images/gardient.png) left top repeat-x;
}
#footer {
	position: relative;
	clear: both;
	width: 1200px;
	height: 45px;
	margin-top: 35px;
	text-align: center;
	background-color: #f2f2f2;
	font-size: 13px;
}

/* header */

.header_top {
	position: relative;
	display: block;
	height: 122px;
	border-bottom: #ccc 1px solid;
	width: 100%;
	z-index: 1001;
}
#header h1.logo {
	display: block;
	width: 299px;
	height: 78px;
	padding: 34px 0 0 50px;
}
#header .logo2 {
	position: absolute;
	top: 34px;
	right: 40px;
}
#header #alertsbar {
	position: absolute;
	top: 35px;
	right: 40px;
	left: 370px;
	height: 18px;
	width: 450px;
	background-color: transparent;
	font-style: normal;
}

#header #alertsbar #clickForMore {
	font-style: italic;
	font-size: .85em;
	color: #0465D8;
}
#header #alertsbar p {margin-bottom: 0;}

.alerts {
	color: #ff0000;
	font-weight: bold;
	height: 18px;
}

.login_info {
	position: absolute;
	display: block;
	height: 36px;
	right: 40px;
	top: 100px;
}

.classic_view_info {
    position: absolute;
	display: block;
	height: 36px;
	left: 50px;
	top: 100px;
}


/* filters and login info */
.top_info {
	position: relative;
	display: block;
	height: 36px;
	width: 100%;
	background-color: #f2f2f2;
}
.top_info .filter {
	position: relative;
	display: block;
	height: 36px;
	line-height: 36px;
	width: auto;
	float: left;
	margin-left: 52px;
	font-size: 14px;
}
.top_info .userinfo {
	position: relative;
	display: block;
	height: 36px;
	line-height: 36px;
	width: auto;
	float: right;
	margin-right: 49px;
	font-size: 14px;
}

/* toolbar */
#header #toolbar {
	position: relative;
	display: block;
	width: 1202px;
	margin-left: -1px;
	margin-right: -1px;
	height: 49px;
	clear: both;
	background-color: #3081df;
	text-decoration: none;
}
#header #toolbar ul {
	display: block;
	float: left;
	padding-left: 52px !important;
	list-style: none;
	height: 49px;
	margin: 0;
	padding: 0;
}
#header #toolbar ul.logout {
	float: right;
	margin-right: 20px;
}
#header #toolbar ul li {
	display: block;
	float: left;
	margin: 0;
	margin-right: 20px;
	padding: 0;
	line-height: 49px;
}
a.toolbaricons {
	display: block;
	float: left;
	height: 20px;
	line-height: 23px;
	padding: 13px 0;
	font-weight: 700;
	text-decoration: none;
	padding-right: 15px;
	cursor: pointer;
}

div#header div#toolbar li a.toolbaricons {
	display: block;
	float: left;
	height: 23px;
	line-height: 23px;
	padding: 10px 0;
	color: #f2f2f2;
	font-weight: 700;
	text-decoration: none;
	padding-right: 0;
}
div#header div#toolbar a.toolbaricons img,
a.toolbaricons img {
	display: inline-block;
	
	height: 23px;
	vertical-align: middle;
	margin-top: -2px;
}

/* CUSTOM TENANT LOGIN STYLING FOR /Files/Index.html */

#customLoginBody
{
	background-color: #FFFFFF;
	font: 15px/18px "Lato", sans-serif;
}

div#shim
{
	visibility: hidden;
	height: 1px;
}

div#customLoginMainContainer {
    background-color: white;
    margin: auto;
    height: auto;
    width: 1128px;
	margin-top: -145px;
    display: block;
    vertical-align: top;
    position: relative;
}

div#customLoginWrapper {
    position: absolute;
	display: block;
	width: 100%;
	top: 50%;
	text-align: center;
}
div#customLoginHeader
{
    margin-top: 35px;
}

div#customLoginHeader div#customVendorLogo
{
	position: relative;
	display: block;
	height: 96px;
}

div#customLoginHeader div#customVendorLogo img
{
	padding: 5px 10px 0 10px;
}

div#customLoginHeader div#toolbar
{
	clear: both;
	font-size: 12px;
	text-align: left;
	height: 25px;
	text-decoration: none;
}

div#customLoginHeader div#toolbar a
{
	text-decoration: none !important;
}

div#customLoginHeader div#toolbar img
{
	padding-top: 2px;
	padding-right: 2px;
}

div#customLoginHeader div#alertsbar
{
	text-align: left;
	vertical-align: bottom;
	background-color: transparent;
	height: 25px;
}

div#customLoginForm
{
    position: relative;
	float: left;
	display: block;
}

table#loginTable
{
    position: relative;
    float: left;
    display: block;
	width: 400px;
}

table#loginTable a, table#loginTable a:hover, table#loginTable a:active
{
	color: rgb(0, 108, 230);
}


table#loginTable input.username {
	background: #fff url(../images/icon_username.png) 10px center no-repeat !important;
	background: #fff url(../images/icon_username_inactive.png) 10px center no-repeat !important;
	padding: 5px 10px;
	padding-left: 46px;
	width: 180px;
	margin-bottom: 26px;
	box-sizing: content-box;
	font-size: 16px;
}
table#loginTable input.password {
	background: #fff url(../images/icon_password.png) 10px center no-repeat !important;
	background: #fff url(../images/icon_password_inactive.png) 10px center no-repeat !important;
	padding: 5px 10px;
	padding-left: 46px;
	width: 180px;
	margin-bottom: 26px;
	box-sizing: content-box;
	font-size: 16px;
}

table#loginTable input[type="submit"],table#loginTable input[type="submit"]:focus,table#loginTable input[type="submit"]:hover {
	width: 96px;
	margin-bottom: 10px;
	box-sizing: content-box;
}
div#customLoginFooter
{
    position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	padding-top: 40px;
	text-align: center;
	color: #5d626c;
}

div#customLoginFooter div#message
{
	padding-top: 5px;
}

/* Flotr2 Chart Styling */

.flotr2Chart {
    width: 100%;
    height: 600px;
}

a.toolbaricons img {padding-right: 10px; height: 20px;}

/* //header */


/* dashboard home page */
#content #wrapper {
	position: relative;
	display: block;
	width: 1105px;
	margin: auto;
	min-height: 400px;
}
#content #wrapper .column {
	position: relative;
	display: block;
	float: left;
	background: #5d626c;
	margin-right: 1px;
	text-align: center;
}

#content #wrapper .column .listgrey {
	display: block;
	padding: 16px 3px 25px;
	color: #fff;
	text-align: center;
	border-bottom: #fff 1px solid;
	margin-bottom: 1px;
}
#content #wrapper .column .listgrey:last-child {border-bottom: 0;}

#content #wrapper .column:nth-child(2),
#content #wrapper .column:nth-child(4) {background: #474851;}

#content #wrapper .column .listgrey .menuicon {
	display: block;
	margin: auto;
	height: 33px;
}
#content #wrapper .column .listgrey h3 {
	color: #f2f2f2;
	text-transform: uppercase;
	font-weight: 700;
	padding: 12px 0 15px 0;
}
.column .listgrey ul,
.column .listgrey li {
	margin: 0;
	padding: 0;
	list-style: none;
}
#content #wrapper .column .listgrey li {
	padding: 0 0 6px;
	font-size: 13px;
	line-height: 17px;
}
#content #wrapper .column .listgrey li a {
	text-decoration: none;
	color: #fff;
	font-weight: 700;
}
#content #wrapper .column .listgrey li a:hover {
	text-decoration: underline;
}
#content #wrapper .column #connectDashboardMenu.listgrey {padding: 14px 3px 11px;}
#content #wrapper .column #connectDashboardMenu.listgrey h3 {padding: 8px 0 8px 0;}
#content #wrapper .column #connectDashboardMenu.listgrey li {padding: 0 0 3px;}
#content #wrapper .column #administrationDashboardMenu.listgrey {padding: 14px 3px 11px;}
#content #wrapper .column #administrationDashboardMenu.listgrey h3 {padding: 6px 0 5px 0;}
#content #wrapper .column #administrationDashboardMenu.listgrey li {padding: 0 0 1px;}

div#content table#messageTable
{
    height: auto;
	min-width: 300px;
	max-width: 600px;
	background-color: whitesmoke;
	margin-left: auto;
	margin-right: auto;
    border: #fff 2px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    border-spacing: 0 !important;
}

/* page header */

.pageHeader {
	position: relative;
	display: block;
	text-align: left;
	font-weight: bold;
	height: 30px;
	margin-bottom: 13px;
}
.pageHeader h3 {float: left;}
.lockMessage {
	float: right;
}


/* Auto Complete Styles */
.AutoCompleteListDisplay {
	width: auto !important;
	min-width: 500px !important;
	max-height: 350px !important;
	background-color: white;
	border: solid #019729 1px;
	padding-right: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
    visibility: hidden;
	overflow-y: scroll;
    font-weight: normal;
    font-size: 10px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    z-index: 4000 !important;
}

/* tabbed content */
.ajaxCustom {
	display: block;
	border-width: 0px;
	width: 1105px;
	margin: auto;
	min-height: 400px;
}

.ajaxCustom .OpsAddressInput {
	width: 100% !important;
	overflow: hidden;
}

.tabHeaderSuperscript 
{
	padding-left: 1px;
	font-size:.8em;
	vertical-align:top;
	position: relative;
	top: -0.4em;
	font-weight: bold;
}


/* tab buttons */
.ajaxCustom .ajax__tab_header {
	position: relative;
	display: block;
	font-family: inherit;
	font-size: inherit;
	height: 35px;
	margin-bottom: 27px;
}
.ajaxCustom .ajax__tab_header:after {
	position: absolute;
	display: block;
	left: -50px;
	right: -46px;
	top: 35px;
	height: 8px;
	background: #3081df;
	content: "";
}

.popup .ajaxCustom {
	width: 1050px !important;
	margin-top: 20px;
}

.popupControl .ajaxCustom {
	width: 1050px !important;
	margin-top: 20px;
}

.popupControlOver .ajaxCustom {
	width: 1050px !important;
	margin-top: 20px;
}

.ajax__tab_outer {
	display: inline-block;
	float: left;
	background-color: rgba(0, 0, 0, 0);
	background-origin: padding-box;
	background-size: auto;
	height: 35px;
	padding-right: 6px;
	margin-right: 1px;
	background: url(../images/tabs_right.png) right top no-repeat;
}
.ajax__tab_inner {
	display: inline-block;
	padding: 0;
	padding-left: 6px;
	height: 35px;
	background: url(../images/tabs_left.png) left top no-repeat;
}
.ajax__tab_tab {
	display: inline-block;
	overflow: hidden;
	text-align: center;
	height: 35px;
	padding: 0 12px;
	margin: 0;
	line-height: 35px;
	color: #fff;
}
.ajax__tab_active .ajax__tab_outer, .ajax__tab_hover .ajax__tab_outer {
	background: url(../images/tabs_right.png) right bottom no-repeat;
}
.ajax__tab_active .ajax__tab_inner, .ajax__tab_hover .ajax__tab_inner {
	background: url(../images/tabs_left.png) left bottom no-repeat;
}
.ajax__tab_active .ajax__tab_tab, .ajax__tab_hover .ajax__tab_tab {

}
.ajax__scroll_none {
    overflow: visible !important;
}

.ajaxCustom .ajax__tab_hover .ajax__tab_outer,
.ajaxCustom .ajax__tab_hover .ajax__tab_tab {
	cursor: pointer;
}
/* tab content */

.ajax__tab_panel table {margin-top: 0 !important;}
.ajax__tab_panel table {margin-bottom: 0 !important;}
.ajax__tab_panel td {padding-bottom: 10px; vertical-align: middle !important;}
.ajax__tab_panel td.top {vertical-align: top !important;}


/* JQuery UI */
.ui-widget {
	font-size: .9em !important;
}


.col_1_2 {
	position: relative;
	display: inline-block;
	float: left;
	width: 50%;
}
.col_1_3 {
	position: relative;
	display: inline-block;
	float: left;
	width: 33%;
	box-sizing: border-box;
	margin-top: 10px;
	padding-right: 10px;
	margin-right: 20px;
	border-right: #B0B3B8 1px solid;
}
.col_2_3 {
	position: relative;
	display: inline-block;
	float: left;
	width: 66%;
	box-sizing: border-box;
	margin-top: 10px;
	margin-right: -35px;
	padding-right: 35px;
}

.col_1_3:nth-child(3n+3) {
	margin-right: 0;
	border-right: none;
	margin-right: -35px;
	padding-right: 35px;
}
.col_1_3.wd:nth-child(3n+3) {
	margin-right: -35px;
	padding-right: 10px;
}
.col_1_3 h5 span {float: right; margin-right: 10px;}

.vlist {
	height: 445px;
	border-top: #C7C9CC 1px solid;
	border-bottom: #C7C9CC 1px solid;
	margin-top: 40px;
	overflow: auto;
}
.vlist.ats {height: 160px;}
.vlist ul,
.vlist li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.vlist li {
	border-bottom: #E6E6E6 1px solid;
}
.hlist {
	border-top: #C7C9CC 1px solid;
	border-bottom: #C7C9CC 1px solid;
	overflow: auto;
}
.hlist.ats {
	height: 160px;
	overflow: auto;
}
.hlist ul,
.hlist li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.hlist li {
	width: 33%;
	float: left;
	border-bottom: #E6E6E6 1px solid;
}

ul.twocol_list {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.twocol_list li {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
	width: 50%;
	display: block;
	float: left;
}

ul.display-inline{ display: inline;}

a.add {
	display: inline-block;
	line-height: 26px;
	padding-left: 32px;
	background: url(../images/icons2/add_button.png) left center no-repeat;
	text-decoration: none;
	margin-right: 30px;
	cursor: pointer;
}

.error {
	display: block;
	clear: both;
	color: #f00;
	padding-top: 10px;
	padding-left: 118px;
}

/* //tabs */

/* Toolbar hover menu */

div#dashboardHoverMenu {
	position: absolute;
	display: block;
	left: 0;
	top: 49px;
	width: 100%;
	height: auto;
	z-index: 3001;
	background: #474851; /* Old browsers */
	background: -moz-linear-gradient(top,  #474851 0%, #25252a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#474851), color-stop(100%,#25252a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #474851 0%,#25252a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #474851 0%,#25252a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #474851 0%,#25252a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #474851 0%,#25252a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474851', endColorstr='#25252a',GradientType=0 ); /* IE6-9 */
}
div#dashboardHoverMenu:before {
	position: absolute;
	visibility: visible;
	left: 56px;
	top: -8px;
	border-bottom: #474851 8px solid;
	border-left: transparent 8px solid;
	border-right: transparent 8px solid;
	content: "";
}

.hoverContainer .column2 {
	position: relative;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	text-align: left;
	padding: 22px 18px 24px 24px;
	border-right: #2e3035 1px solid;
	border-left: #484a51 1px solid;
	width: 20%;
	overflow: auto;
}
.hoverContainer .column2:first-child {border-left: 0;}
.hoverContainer .column2:last-child {border-right: 0;}
.hoverContainer .column2.full {width: 100%; padding: 12px 18px 14px 24px;}

#header #toolbar .column2 h3 {
	display: block;
	height: 36px;
	line-height: 36px;
	margin-bottom: 14px;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
}
h3.menu_operations {background: url(../images/operations.png) right center no-repeat;}
h3.menu_finance {background: url(../images/finance.png) right center no-repeat;}
h3.menu_registry {background: url(../images/registry.png) right center no-repeat;}
h3.menu_rating {background: url(../images/rating.png) right center no-repeat;}
h3.menu_util {background: url(../images/utilities.png) right center no-repeat;}
h3.menu_reports {background: url(../images/reports.png) right center no-repeat;}
h3.menu_connect {background: url(../images/connect.png) right center no-repeat;}
h3.menu_admin {background: url(../images/admin.png) right center no-repeat;}

.pageHeaderIcon
{
	height: 22px;
	border-width: 0px;
	vertical-align: middle;
	float: left;
	padding-right: 10px;
}

.errorMsgLit {
	width: 100%; 
	color: red; 
	padding: 3px;
	margin-bottom: 10px;
}

div.pageHeaderRecDesc {
	font-size: .85em; 
	padding-left: 15px;
	display: inline-block;
	text-transform: none;
}
span.textAreaCharCount {
	font-size: .85em;
	text-transform: none;
	padding-left: 5px;
}


#header #toolbar .column2 ul + h3 {margin-top: 16px;}

#header #toolbar .column2 ul {
	display: block;
	list-style: none;
	float: none;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0 !important;
}
#header #toolbar .column2 ul li {
	float: none;
	list-style: none;
	margin: 0 !important;
	width: 100%;
	padding: 0 0 6px;
	font-size: 13px;
	line-height: 16px;
}
.column2 li a {
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	font-size: 13px;
	line-height: 16px;
}
.column2 li a:hover {
	text-decoration: underline;
}

hr.menuSeperator {
	border-style: none none none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	color: #fff;
}

li.menuDropdown div.menuDropDownImgSpan, span.menuDropDownImgSpan {
	width: 21px !important;
	margin-right: 3px;
}

/* fix for short screens because of the fixed header */
.hoverContainer .shortscreen .column2 {
	padding: 12px 18px 14px 24px;
}
#header #toolbar .shortscreen .column2 h3 {
	margin-bottom: 0px;
	font-size: 15px;
}
#header #toolbar .shortscreen .column2 ul li {
	margin: 0;
	padding: 0 0 2px;
	font-size: 13px;
	line-height: 15px;
}
.shortscreen .column2 li a {
	font-size: 13px;
	line-height: 15px;
}

.moreHoverMenu {
	position: absolute;
	display: block;
	top: 49px;
	width: auto;
	min-width: 150px;
	max-width: 500px;
	height: auto;
	z-index: 3001;
	background: #3081df;
}



/* popup */

.dimBackground {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: rgba(0, 0, 0, .6);
}

.dimBackgroundControl {
	z-index: 2000;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .6);
}

.dimBackgroundControlOver {
	z-index: 3000;
    position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .6);
}

div#stopClickingToQuickDiv {
	z-index: 10000;
    position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

tr.header
{
	font-weight: bold;
	background-color: #D3D3D3;
	height: 16px;
	padding: 3px;
	border-bottom: 2px solid #333;
}

.popover {
	top: -25px;
	right: 50px;
	width: 1000px;
	z-index: 1001;
	position: absolute;
	background: #f2f2f2;
	border: #fff 2px solid;
	padding-bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.5);
}

.popup {
	top: -170px;
	width: 1150px;
	left: 50%;
	margin-left: -575px;
	z-index: 1001;
	position: absolute;
	background: #f2f2f2;
	border: #fff 2px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.popupControl {
	top: -170px;
	width: 1150px;
	left: 50%;
	margin-left: -575px;
	z-index: 2001;
	position: absolute;
	background: #f2f2f2;
	border: #fff 2px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.popupControlOver {
	top: -170px;
	width: 1150px;
	left: 50%;
	margin-left: -575px;
	z-index: 3001;
	position: absolute;
	background: #f2f2f2;
	border: #fff 2px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.popupControlOverW750 {
	width: 750px !important;
	margin-left: -375px !important;
}

.popupControlOverW500 {
	width: 500px !important;
	margin-left: -250px !important;
}

.popup-position-fixed {
    position: fixed !important;
}

.popupAnnouncement {
	top: 100px;
	left: 50%;
	width: 500px;
	margin-left: -250px;
	z-index: 2001;
	background: #f2f2f2;
	position: absolute;
	border: #fff 2px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-style: normal;
}

.popheader {
	position: relative;
	display: block;
	width: 100%;
	height: 30px;
	padding-top: 8px;
	background: #0465D8;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.popheader h4 {
	margin-left: 20px;
	color: #fff;
}
.popheader .close {
	position: absolute;
	top: 7px;
	right: 8px;
	width: 20px;
	height: 20px;
}
.poptable {
	width: 100%;
}

table.poptable {
    border-spacing: 0 !important;
    border-collapse: collapse;
}
table.poptable td {
	vertical-align: middle;
}
table.poptable td label {white-space: nowrap; color: #0465D8;}

table.poptable a {text-decoration: none;}
table.poptable a img {vertical-align: middle;}

.note {
	font-size: 13px;
	color: #019729;
	line-height: 16px;
}


.finderScrollFixed {
		width: 100%;
		max-height: 400px;
		overflow-y: auto;
		overflow-x: hidden;
	}

@media(min-height: 0) {
	.finderScroll {
		width: 100%;
		max-height: 475px;
		overflow-y: auto;
		overflow-x: hidden;
	}
}

@media(min-height: 768px) {
	.finderScroll {
		width: 100%;
		max-height: 605px;
		overflow-y: auto;
		overflow-x: hidden;
	}
}

@media(min-height: 900px) {
	.finderScroll {
		width: 100%;
		max-height: 750px;
		overflow-y: auto;
		overflow-x: hidden;
	}
}

/*  Shipping Labels */
.shippingLabel, .shippingLabel td
	{
		border: solid 1px black;
		font-family: Verdana, Helvetica, Arial, sans-serif;
		font-size: 10pt;
		text-transform: uppercase;
	}
.shippingLabel td
{
	padding: 0.5em;
}

.semi-fold-parameters-panel {
	height: 75px;
	overflow: hidden;
}

/* Fixes/ Unique Circumstances */
.ajax__colorPicker_container table tr td{
    padding: 0 !important;
    margin: 0 !important;
}

/* Name specified twice to increase specificity of class */
.AjaxCalendarTable.AjaxCalendarTable tr td{
    padding: 0 !important;
    background: #fff !important;
    font: inherit !important;
    font-weight: normal !important;
    border: 0 !important;
}

.dragHandle {
    width: 22px;
    height: 19px;
    margin: 0 5px 0 5px;
    padding-top: 6px;
    background-color: #0465d8;
    color: white !important;
    text-align: center !important;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.jQueryUniformFileUploaderDivWidth {
    width: 300px !important;
}

.jQueryUniformFileUploaderSpanWidth {
    width: 195px !important;
}

div.reportTableScroll{
    min-width: 1000px; 
    max-height: 700px;
    overflow: auto; 
}

div.reportTableScroll table {
    min-width: 1000px; 
    width: auto; 
}

div.reportTableScroll table tr th{
    min-width: 85px;
    max-width: 200px; 
    text-transform: capitalize !important;
    white-space: normal;
    padding: 5px;
}

div.uploadedImages {
    width: 135px;
    min-height: 150px;
}

.WaterMarkColor {
	color: lightgray;
	font-family: inherit;
	font-size: .95em;
}

.flag {
	border: solid 1px #474851;
	width: 12px;
	height: 14px;
	border-radius: 2px;
	margin: 1px;
	vertical-align: middle !important;
	text-align: center !important;
}

.flag-shipment {
	border: solid 1px #474851;
	width: auto;
	height: 40px;
	border-radius: 2px;
	margin: 3px;
	padding: 5px;
	vertical-align: middle !important;
	text-align: center !important;
	display: inline;
	color: maroon;
}

.shipmentAlertSection {
	display: inline; 
	width: auto;
	text-align: center; 
	font-size: 11px; 
	padding-left: 25px;
}

.logo-vendor input[type="image"] {
    max-height: 40px;
    float: left;
}

.hidden {
	display: none !important;
}

.table-note {
    color: #0465D8;
}
.table-note, .table-note2 {
    font-size: 10px;
    padding: 0px;
    margin-left: 15px;
}

.invoiceTotalSection {
    z-index: 3000;
    position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .6);
    height: 45px !important; 
    bottom: 0 !important; 
    top: auto; 
    background-color: white;
}