/*

Uniform Theme: Uniform Default
Version: 1.8
By: Josh Pyles
License: MIT License
---
For use with the Uniform plugin:
http://uniformjs.com/

*/
/* General settings */
div.checker span, div.radio span, div.uploader, div.uploader span.action {
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased; }
div.checker, div.radio, div.uploader {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  /* Keeping this as :focus to remove browser styles */ }
  div.checker:focus, div.radio:focus, div.uploader:focus {
    outline: 0; }
div.radio, div.radio *, div.checker, div.checker *, div.uploader, div.uploader * {
  margin: 0;
  padding: 0; }

/* Remove default webkit and possible mozilla .search styles.
 * Keeping this as :active to remove browser styles */
div.checker input {
  -moz-appearance: none;
  -webkit-appearance: none; }

/* Checkbox */
div.checker {
  position: relative; vertical-align: top; }
  div.checker, div.checker span, div.checker input {
    width: 26px;
    height: 26px; }
  div.checker span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    background-position: 0 -150px; }
    div.checker span.checked {
      background-position: -120px -150px; }
  div.checker input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1; }
  div.checker.active span {
    background-position: -30px -150px; }
    div.checker.active span.checked {
      background-position: -150px -150px; }
  div.checker.hover span, div.checker.focus span {
    background-position: -60px -150px; }
    div.checker.hover span.checked, div.checker.focus span.checked {
      background-position: -180px -150px; }
  div.checker.hover.active span, div.checker.focus.active span {
    background-position: -90px -150px; }
    div.checker.hover.active span.checked, div.checker.focus.active span.checked {
      background-position: -210px -150px; }
  div.checker.disabled, div.checker.disabled.active {
    background-position: -240px -150px; }
    div.checker.disabled span.checked, div.checker.disabled.active span.checked {
      background-position: -270px -150px; }

/* Checkbox small */
.sm_chk div.checker, .sm_chk div.checker span, .sm_chk div.checker input {
    width: 15px;
    height: 15px; }
.sm_chk div.checker span {
    background-position: 0 -100px; }
.sm_chk div.checker span.checked {
      background-position: -120px -100px; }
.sm_chk div.checker.active span {
    background-position: -30px -100px; }
.sm_chk div.checker.active span.checked {
      background-position: -150px -100px; }
.sm_chk div.checker.hover span, .sm_chk div.checker.focus span {
    background-position: -60px -100px; }
.sm_chk div.checker.hover span.checked, .sm_chk div.checker.focus span.checked {
      background-position: -180px -100px; }
.sm_chk div.checker.hover.active span, .sm_chk div.checker.focus.active span {
    background-position: -90px -100px; }
.sm_chk div.checker.hover.active span.checked, .sm_chk div.checker.focus.active span.checked {
      background-position: -210px -100px; }
.sm_chk div.checker.disabled, .sm_chk div.checker.disabled.active {
    background-position: -240px -100px; }
.sm_chk div.checker.disabled span.checked, .sm_chk div.checker.disabled.active span.checked {
      background-position: -270px -100px; }
.sm_chk.chk_list div.checker {margin-top: 5px;}

/* Radio */
div.radio {
  position: relative; }
  div.radio, div.radio span, div.radio input {
    width: 26px;
    height: 26px; }
  div.radio span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    background-position: 0 -200px; }
    div.radio span.checked {
      background-position: -120px -200px; }
  div.radio input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center; }
  div.radio.active span {
    background-position: -30px -30px -200px; }
    div.radio.active span.checked {
      background-position: -150px -200px; }
  div.radio.hover span, div.radio.focus span {
    background-position: -60px -60px -200px; }
    div.radio.hover span.checked, div.radio.focus span.checked {
      background-position: -180px -200px; }
  div.radio.hover.active span, div.radio.focus.active span {
    background-position: -90px -200px; }
    div.radio.hover.active span.checked, div.radio.focus.active span.checked {
      background-position: -210px -200px; }
  div.radio.disabled span, div.radio.disabled.active span {
    background-position: -240px -200px; }
    div.radio.disabled span.checked, div.radio.disabled.active span.checked {
      background-position: -270px -200px; }

/* Uploader */
div.uploader {
  background-position: 0 -297px;
  height: 28px;
  width: 190px;
  cursor: pointer;
  position: relative;
  overflow: hidden; }
  div.uploader span.action {
    background-position: right -409px;
    height: 28px;
    line-height: 28px;
    width: 82px;
    text-align: center;
    float: left;
    display: inline;
    overflow: hidden;
    cursor: pointer; }
  div.uploader span.filename {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    cursor: default;
    height: 24px;
    margin: 2px 0 2px 2px;
    line-height: 24px;
    width: 85px;
    padding: 0 10px; }
  div.uploader input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    cursor: default;
    width: 100%;
    height: 100%; }
  div.uploader.active span.action {
    background-position: right -465px; }
  div.uploader.hover, div.uploader.focus {
    background-position: 0 -353px; }
    div.uploader.hover span.action, div.uploader.focus span.action {
      background-position: right -437px; }
    div.uploader.hover.active span.action, div.uploader.focus.active span.action {
      background-position: right -493px; }
  div.uploader.disabled, div.uploader.disabled.active {
    background-position: 0 -325px; }
    div.uploader.disabled span.action, div.uploader.disabled.active span.action {
      background-position: right -381px; }


/* PRESENTATION */

/* Checker */
div.checker {
  margin-right: 3px; }

/* Radio */
div.radio {
  margin-right: 3px; }

/* Uploader */
div.uploader span.action {
  text-shadow: white 0px 1px 0px;
  background-color: #fff;
  font-size: 11px;
  font-weight: bold; }
div.uploader span.filename {
  color: #777;
  border-right: solid 1px #bbbbbb;
  font-size: 11px; }
div.uploader.disabled span.action, div.uploader.disabled.active span.action {
  color: #aaa; }
div.uploader.disabled span.filename, div.uploader.disabled.active span.filename {
  border-color: #ddd;
  color: #aaa; }

