﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Members/Member.master" AutoEventWireup="true" CodeBehind="P44ServiceMappingView.aspx.cs" Inherits="LogisticsPlus.Eship.WebApplication.Members.Registry.P44ServiceMappingView" %>
<%@ Import Namespace="LogisticsPlus.Eship.Core.Registry" %>
<%@ Import Namespace="LogisticsPlus.Eship.Processor" %>
<%@ Import Namespace="LogisticsPlus.Eship.Project44" %>

<asp:Content ID="Toolbar" ContentPlaceHolderID="MainToolbar" runat="server">
    <eShip:MainToolBar ID="memberToolBar" runat="server" ShowDashboard="true" ShowNew="true"
        OnNew="OnNewClick" OnImport="OnImportClicked" OnExport="OnExportClicked" />
</asp:Content>
<asp:Content ID="Content" ContentPlaceHolderID="MainContent" runat="server">
    <div class="clearfix">
        <div class="pageHeader">
            <h3>
                <asp:Image runat="server" ID="imgPageImageLogo" AlternateText="page icon"
                    CssClass="pageHeaderIcon" />
                P44 Service Mappings<small class="ml10"><asp:Literal runat="server" ID="litRecordCount" /></small>
            </h3>
        </div>
        <hr class="fat" />
        <eShip:TableFreezeHeaderExtender runat="server" ID="tfheServiceTable" TableId="serviceTable" HeaderZIndex="2"/>
        <asp:ListView ID="lvwRegistry" runat="server" ItemPlaceholderID="itemPlaceHolder">
            <LayoutTemplate>
                <div class="rowgroup">
                    <table id="serviceTable" class="line2 pl2">
                        <tr>
                            <th style="width: 20%;">Service Code
                            </th>
                            <th style="width: 20%;">Description
                            </th>
                            <th style="width: 12%;">Project 44 Code
                            </th>
                            <th style="width: 12%;">Description
                            </th>
                            <th style="width: 10%;" class="text-center">Action
                            </th>
                        </tr>
                        <asp:PlaceHolder ID="itemPlaceHolder" runat="server" />
                    </table>
                </div>
            </LayoutTemplate>
            <ItemTemplate>
                <tr>
                    <td>
                        <eShip:CustomHiddenField ID="hidP44ServiceMappingId" runat="server" Value='<%# Eval("Id") %>' />
                        <asp:Literal ID="litServiceCode" runat="server" Text='<%# new Service(Eval("ServiceId").ToLong()).Code %>' />
                    </td>
                    <td>
                        <asp:Literal ID="litServiceCodeDescription" runat="server" Text='<%# new Service(Eval("ServiceId").ToLong()).Description %>' />
                    </td>
                    <td>
                        <asp:Literal ID="litProject44ServiceCode" runat="server" Text='<%# Eval("Project44Code").ToInt().ToEnum<Project44ServiceCode>().ToString() %>' />
                    </td>
                    <td>
                        <asp:Literal ID="litProject44ServiceCodeDescription" runat="server" Text='<%# Eval("Project44Code").ToInt().ToEnum<Project44ServiceCode>().GetServiceCodeDescription() %>' />
                    </td>
                    <td class="text-center">
                        <asp:ImageButton ID="ibtnEdit" runat="server" ToolTip="Edit" ImageUrl="~/images/icons2/editBlue.png"
                            CausesValidation="false" OnClick="OnEditClicked" Enabled='<%# Access.Modify %>' />
                        <asp:ImageButton ID="ibtnDelete" runat="server" ToolTip="Delete" ImageUrl="~/images/icons2/deleteX.png"
                            CausesValidation="false" OnClick="OnDeleteClicked" Enabled='<%# Access.Remove %>' />
                        <ajax:ConfirmButtonExtender runat="server" ID="cbeDelete" TargetControlID="ibtnDelete"
                            ConfirmText="Are you sure you want to delete record?" />
                    </td>
                </tr>
            </ItemTemplate>
        </asp:ListView>
        <asp:Panel ID="pnlEdit" runat="server" Visible="false" DefaultButton="btnSave">
            <div class="popup popupControlOverW500">
                <div class="popheader">
                    <h4>
                        <asp:Literal ID="litTitle" runat="server" />
                    </h4>
                    <asp:ImageButton ID="ibtnClose" ImageUrl="~/images/icons2/close.png" CssClass="close"
                        CausesValidation="false" OnClick="OnCloseClicked" runat="server" />
                </div>
                <div class="row">
                    <table class="poptable">
                        <tr>
                            <td colspan="20" class="red">
                                <asp:Literal ID="litMessage" runat="server" />
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <eShip:CustomHiddenField ID="hidP44ServiceMappingId" runat="server" />
                                <label class="upper">Project 44 Code:</label>
                            </td>
                            <td>
                                <asp:DropDownList ID="ddlProject44Code" DataTextField="Value" DataValueField="Key" runat="server" CssClass="w300" />
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <label class="upper">Service Code:</label>
                            </td>
                            <td>
                                <asp:DropDownList ID="ddlServiceCodes" DataTextField="Value" DataValueField="Key" runat="server" CssClass="w300" />
                            </td>
                        </tr>                        
                        <tr>
                            <td></td>
                            <td class="pt10">
                                <asp:Button ID="btnSave" Text="Save" OnClick="OnSaveClick" runat="server" />
                                <asp:Button ID="btnCancel" Text="Cancel" OnClick="OnCloseClicked" runat="server"
                                    CausesValidation="false" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </asp:Panel>
        <eShip:MessageBoxControl runat="server" ID="messageBox" Visible="false" Button="Ok" Icon="Information" OnOkay="OnOkayProcess" />
        <eShip:FileUploaderControl runat="server" ID="fileUploader" Visible="false" OnFileUploadCancelled="OnFileUploaderUploadCancelled"
            OnFileUploaded="OnFileUploaderFileUploaded" OnFileUploadError="OnFileUploadedError" />
        <asp:Panel ID="pnlDimScreen" CssClass="dimBackground" runat="server" Visible="false" />
    </div>
</asp:Content>
