﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Members/Member.master" AutoEventWireup="true" CodeBehind="UserDefinedPermissionDetailView.aspx.cs" Inherits="LogisticsPlus.Eship.WebApplication.Members.Registry.UserDefinedPermissionDetailView" %>
<%@ Import Namespace="LogisticsPlus.Eship.Core" %>
<%@ Import Namespace="LogisticsPlus.Eship.Processor" %>
<asp:Content ID="Toolbar" ContentPlaceHolderID="MainToolbar" runat="server">
    <eShip:MainToolBar ID="memberToolBar" runat="server" ShowDashboard="true" ShowNew="true"
        OnNew="OnNewClick" OnImport="OnImportClicked" OnExport="OnExportClicked" />
</asp:Content>
<asp:Content ID="Content" ContentPlaceHolderID="MainContent" runat="server">
    <div class="clearfix">
        <div class="pageHeader">
            <h3>
                <asp:Image runat="server" ID="imgPageImageLogo" AlternateText="page icon"
                    CssClass="pageHeaderIcon" />
                User Defined Permission Detail<small class="ml10"><asp:Literal runat="server" ID="litRecordCount" /></small>
            </h3>
        </div>
        <hr class="fat" />
        <eShip:TableFreezeHeaderExtender runat="server" ID="tfheUserDefinedPermissionTable" TableId="userDefinedPermissionTable" HeaderZIndex="2" />
        <asp:ListView ID="lvwRegistry" runat="server" ItemPlaceholderID="itemPlaceHolder">
            <LayoutTemplate>
                <div class="rowgroup">
                    <table id="userDefinedPermissionTable" class="line2 pl2">
                        <tr>
                            <th style="width: 14%">Code</th>
                            <th style="width: 14%">Display Code</th>
                            <th style="width: 40%">Navigation Url</th>
                            <th style="width: 12%">Category</th>
                            <th style="width: 12%">Type</th>
                            <th style="width: 8%">Action</th>
                        </tr>
                        <asp:PlaceHolder ID="itemPlaceHolder" runat="server" />
                    </table>
                </div>
            </LayoutTemplate>
            <ItemTemplate>
                <tr>
                    <td class="top">
                        <eShip:CustomHiddenField ID="hidPermissionDetailId" runat="server" Value='<%# Eval("Id") %>' />
                        <asp:Literal ID="litCode" runat="server" Text='<%# Eval("Code") %>' />
                    </td>
                    <td class="top">
                        <asp:Literal ID="litDisplayCode" runat="server" Text='<%# Eval("DisplayCode") %>' />
                    </td>
                    <td class="top">
                        <asp:Literal ID="litNavigationUrl" runat="server" Text='<%# Eval("NavigationUrl") %>' />
                    </td>
                    <td class="top">
                        <asp:Literal ID="litCategory" runat="server" Text='<%# Eval("Category").FormattedString() %>' />
                    </td>
                    <td class="top">
                        <asp:Literal ID="litType" runat="server" Text='<%# Eval("Type") %>' />                        
                    </td>
                    <td class="top">
                        <asp:ImageButton ID="ibtnEdit" runat="server" ToolTip="Edit" ImageUrl="~/images/icons2/editBlue.png"
                            CausesValidation="false" OnClick="OnEditClicked" Enabled='<%# Access.Modify %>' />
                        <asp:ImageButton ID="ibtnDelete" runat="server" ToolTip="Delete`" ImageUrl="~/images/icons2/deleteX.png"
                            CausesValidation="false" OnClick="OnDeleteClicked" Enabled='<%# Access.Remove %>' />
                        <ajax:ConfirmButtonExtender runat="server" ID="cbeDelete" TargetControlID="ibtnDelete"
                            ConfirmText="Are you sure you want to delete record?" />
                    </td>
                </tr>
            </ItemTemplate>
        </asp:ListView>
        <asp:Panel ID="pnlEdit" runat="server" Visible="false" DefaultButton="btnSave">
            <div class="popup popupControlOverW500">
                <div class="popheader">
                    <h4>
                        <asp:Literal ID="litTitle" runat="server" />
                    </h4>
                    <asp:ImageButton ID="ibtnClose" ImageUrl="~/images/icons2/close.png" CssClass="close"
                        CausesValidation="false" OnClick="OnCloseClicked" runat="server" />
                </div>
                <div class="row">
                    <script type="text/javascript">
                        $(function() {
                            UpdateDivVisibilityBasedOnSelectedType();

                            $('#<%= ddlType.ClientID %>').change(function() {
                                UpdateDivVisibilityBasedOnSelectedType();
                            });
                        });
                        
                        function UpdateDivVisibilityBasedOnSelectedType() {
                            if ($('#<%= ddlType.ClientID %>').val() == '<%= PermissionType.System.ToInt().ToString() %>') {
                                $('#divSystemCode').show();
                                $('#divCustomCode').hide();
                                $('#trNavigationUrl').hide();
                                $('#trCategory').hide();
                            } else {
                                $('#divSystemCode').hide();
                                $('#divCustomCode').show();
                                $('#trNavigationUrl').show();
                                $('#trCategory').show();
                            }
                        }
                    </script>
                    <table class="poptable">
                        <tr>
                            <td colspan="2" class="red">
                                <asp:Literal ID="litMessage" runat="server" />
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <label class="upper">Type:</label>
                            </td>
                            <td>
                                <eShip:CustomHiddenField ID="hidPermissionDetailId" runat="server" />                                
                                <asp:DropDownList runat="server" ID="ddlType" CssClass="w200"  DataTextField="Value" DataValueField="Key"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <label class="upper">Code:</label>
                            </td>
                            <td>
                                <div id="divSystemCode">
                                    <asp:DropDownList runat="server" ID="ddlViewCode" CssClass="w300"  DataTextField="Value" DataValueField="Key"/>
                                </div>
                                <div id="divCustomCode">
                                    <eShip:CustomTextBox ID="txtCode" MaxLength="50" runat="server" CssClass="w300"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <label class="upper">Display Code:</label>
                            </td>
                            <td>
                                <eShip:CustomTextBox runat="server" ID="txtDisplayCode" CssClass="w300" MaxLength="50"/>
                            </td>
                        </tr>
                        <tr id="trCategory">
                            <td class="text-right">
                                <label class="upper">Category:</label>
                            </td>
                            <td>
                                <asp:DropDownList runat="server" ID="ddlCategory" CssClass="w300"  DataTextField="Value" DataValueField="Key"/>
                            </td>
                        </tr>
                        <tr id="trNavigationUrl">
                            <td class="text-right top">
                                <label class="upper">Navigation Url:</label>
                                <br />
                                <label class="lhInherit">
                                    <eShip:TextAreaMaxLengthExtender runat="server" ID="tamleNavigationUrl" TargetControlId="txtNavigationUrl" MaxLength="500" />
                                </label>
                            </td>
                            <td>
                                <eShip:CustomTextBox runat="server" ID="txtNavigationUrl" CssClass="w300 h150" TextMode="MultiLine"/>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="pt10">
                                <asp:Button ID="btnSave" Text="Save" OnClick="OnSaveClick" runat="server" />
                                <asp:Button ID="btnCancel" Text="Cancel" OnClick="OnCloseClicked" runat="server" CausesValidation="false" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </asp:Panel>
        <eShip:MessageBoxControl runat="server" ID="messageBox" Visible="false" Button="Ok" Icon="Information" OnOkay="OnOkayProcess" />
        <eShip:FileUploaderControl runat="server" ID="fileUploader" Visible="false" OnFileUploadCancelled="OnFileUploaderUploadCancelled"
            OnFileUploaded="OnFileUploaderFileUploaded" OnFileUploadError="OnFileUploadedError" />
        <asp:Panel ID="pnlDimScreen" CssClass="dimBackground" runat="server" Visible="false" />
    </div>
</asp:Content>
