﻿<head>
	<title>Available Loads</title>
	<style>
    	body > div {width: 857px; margin: auto;}
    </style>
</head>
<body style="margin: 0; padding: 0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
	[#BodyWrapperStart#]
	<div>
		<div id="shippingInfo">
			<table style="width: 100%; margin-bottom:10px; border-top:#3081df 8px solid; border-bottom:#3081df 2px solid;">
				<tr>
					<td colspan="20" style="color: #3181DF">
						[#Brand#] NOTIFICATION
					</td>
				</tr>
				<tr>
					<td style="text-align: left; width: 40%; vertical-align: top; padding:10px 5px;">
						<img src="[#LogoUrl#]" height="45px" alt="logo" />
					</td>
				</tr>
				<tr>
					<td colspan="20" style="width: 100%; font-size:25px; color:#3181DF;">
						Available Loads
					</td>
				</tr>
				<tr>
                <td colspan:"20" style="font-size:1em;">
					<table style="font-size: .8em; border-collapse: Collapse; width:100%; margin-left: auto; margin-right:auto;">
						<tr>
							<td style="width: 5%; border: 1px solid black; text-align:left; padding-left:3px; Padding-right:3px;"><b>Load Number</b></td>
							<td style="width: 3%; border: 1px solid black; text-align:left; padding-left:3px; Padding-right:3px;"><b>Pickup Date</b></td>
							<td style="width: 3%; border: 1px solid black; text-align:left; padding-left:3px; Padding-right:3px;"><b>Origin</b></td>
							<td style="width: 5%; border: 1px solid black; text-align:left; padding-left:3px; Padding-right:3px;"><b>Destination</b></td>
							<td style="width: 5%; border: 1px solid black; text-align:center; padding-left:3px; Padding-right:3px;"><b>Dimensions</b></td>
							<td style="width: 5%; border: 1px solid black; text-align:right; padding-left:3px; Padding-right:3px;"><b>Weight</b></td>
							<td style="width: 22%; border: 1px solid black; text-align:left; padding-left:3px; Padding-right:3px;"><b>Type</b></td>
							<td style="width: 22%; border: 1px solid black; text-align:left; padding-left:3px; Padding-right:3px;"><b>Contact Phone</b></td>
							<td style="width: 22%; border: 1px solid black; text-align:left; padding-left:3px; Padding-right:3px;"><b>Comments</b></td>
						</tr>
						[#AvailableLoadsWrapperStart#]
							<tr>
								<td style="border: 1px solid black; text-align:Left;">[#LoadNumber#]</td>
								<td style="border: 1px solid black; text-align:Left;">[#DesiredShipmentDate#]</td>
								<td style="border: 1px solid black; text-align:center;">[#OriginFullCityState#]</td>
								<td style="border: 1px solid black; text-align:right;">[#DestinationCityState#]</td>
								<td style="border: 1px solid black; text-align:right;">[#Dimensions#]</td>
								<td style="border: 1px solid black; text-align:right;">[#Weight#]</td>
								<td style="border: 1px solid black; text-align:Left;">[#Type#]</td>
								<td style="border: 1px solid black; text-align:Left;">[#ContactPhone#]</td>
								<td style="border: 1px solid black; text-align:Left;">[#Comments#]</td>
							</tr>
						[#AvailableLoadsWrapperEnd#]
                    </table>
                </td>
            </tr>  
			</table>
		</div>
	</div>
	[#BodyWrapperEnd#]
</body>
</html>
