﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Base.master.cs" Inherits="LogisticsPlus.Eship.WebApplication.Base" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>eShip Plus v4.x</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css' />
    <link type="text/css" rel="stylesheet" href="~/css/uniform.default.css" />
    <link type="text/css" rel="stylesheet" href="~/css/base2.css" />
    <link type="text/css" rel="stylesheet" href="~/css/member2.css" />
    <link type="text/css" rel="stylesheet" href="~/css/jquery-ui.css" />
    <link type="text/css" rel="stylesheet" href="~/css/jquery-ui.structure.css" />
    <link type="text/css" rel="stylesheet" href="~/css/jquery-ui.theme.css" />
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- conditional comment for IE html5 compatibility -->
    <!--[if lte IE 9]>
		<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body id="body">



    <form id="form1" runat="server">
        <asp:ScriptManager runat="server" ID="mainScriptManager">
            <Services>
                <asp:ServiceReference Path="~/Services/eShipPlusWSv4P.asmx" />
            </Services>
        </asp:ScriptManager>

        <!-- do not remove this div without cleaning Utilities.js file. Div, as name suggests, is to prevent early click and corruption of viewstate on large pages.  Div must be first element to load so DON'T MOVE IT! -->
        <div id="stopClickingToQuickDiv" style="display: block; cursor: wait;">
            <h1 class="white mt20p fs300em upper">&nbsp;</h1>
        </div>

        <div>
            <asp:ContentPlaceHolder ID="BaseContentPlaceHolder" runat="server">
            </asp:ContentPlaceHolder>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                InitialJQueryUniform();
            });
        </script>

        <!-- do not remove this div without cleaning Utilities.js file. -->
        <div id="divProcessing" class="dimBackgroundControlOver text-center middle" style="display: none; cursor: wait;">
            <h1 class="white mt20p fs300em upper">Loading ...</h1>
        </div>
    </form>

    <script type="text/javascript">

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments);
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g;
            m.parentNode.insertBefore(a, m);
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-55400420-1', 'auto');
        ga('send', 'pageview');

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#mainContainer").on('mousemove', function (e) {
                jsHelper.XYSet = "true";
                jsHelper.PageX = e.pageX;
                jsHelper.PageY = e.pageY;
            });

        });
    </script>
</body>
</html>
