﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ProLabelAvery5164.aspx.cs" Inherits="LogisticsPlus.Eship.WebApplication.Members.Operations.ProLabelAvery5164 " %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
	<title></title>
	<link type="text/css" rel="stylesheet" href="~/css/member2.css" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
    	<asp:Label ID="lblProShippingLabel" runat="server" />
    </div>
    </form>
</body>
</html>
