/* #Base 980
================================================== */

.container {position: relative; width: 100%; margin: 0; padding: 0;}
header {position: relative; width: 100%; margin: 0; padding: 0; background:url(../images/topbg.png) left top repeat-x;}
#headercont {position:relative; width:980px; height:154px; margin:0 auto; padding:0; background:#fff;}
.content {position:relative; width:980px; margin:0 auto; padding:0;}
footer {position:relative; width:980px; margin:15px auto; padding:0; font-size:12px; color:#848284; text-align:center;}
footer a, footer a:visited {color:#848284;}
.column1, .column2 { position:relative; float: left; display: block; margin-right: 9px; }
.column1 {width:724px;}
.column2 {width:247px; margin-right:0;}

/* #Header
=================================================== */

#logo1 {
	position:relative;
	display:block;
	float:left;
	width:250px;
	height:154px;
	margin-right:104px;
	background:url(../images/logo_logistics.png) left top no-repeat;
}
#logo2 {
	position:relative;
	display:block;
	float:left;
	width:190px;
	height:154px;
	background:url(../images/logo_eship_plus.jpg) left top no-repeat;
}
#logo1 h1, #logo2 h1 {
	margin:0;
	padding:0;
	text-indent:-9999px;
	text-transform:uppercase;
}
#loginbox {
	position:relative;
	display:block;
	float:left;
	width:436px;
	height:56px;
	margin-top:40px;
}
#csl {
	position:relative;
	display:block;
	float:left;
	width:99px;
	height:56px;
	color:#2874b9;
	text-transform:uppercase;
	line-height:13px;
}
#loginboxin {
	position:relative;
	display:block;
	float:left;
	width:337px;
	height:30px;
}
#loginbox input[type="text"], 
#loginbox input[type="password"] {
	width:117px;
	height:19px;
	margin:0 5px 0 0;
	float:left;
	background:transparent url(../images/input_top.png) left top no-repeat;
	border:0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
#loginbox input[type="submit"] {
		background:transparent url(../images/button_blue.png) left top no-repeat;
		width:67px;
		height:28px;
	  border: 0;
	  padding: 0;
	  text-align:center;
	  -moz-border-radius: 0;
	  -webkit-border-radius: 0;
	  border-radius: 0;
	  color: #fff;
	  display: inline-block;
	  font-size: 13px;
	  font-weight: normal;
	  text-decoration: none;
	  text-shadow: none;
	  text-transform:none;
	  cursor: pointer;
	  margin: 0;
	  line-height: 21px;
	  font-family: ArmitageSemiboldRegular, Helvetica, Arial, sans-serif; }
	  
	  

	  
#loginbox input[type="submit"]:hover,
#loginbox input[type="submit"]:active {
		color: #fff;
		background:url(../images/button_blue.png) left bottom no-repeat;
}
#lb2 {
	display:block;
	float:left;
	width:337px;
	height:26px;
}
#lb2 a, #lb2 a:visited {
	display:block;
	width:136px;
	float:left;
	font-size:12px;
	color:#bfbcbf;
}
#lb2 label {
	margin:0;
	float:left;
	font-size:12px;
	color:#bfbcbf;
}

.shatop1 {
	position:relative;
	display:block;
	float:left;
	width:436px;
	height:9px;
	margin-bottom:7px;
	background:url(../images/sha_top.png) left top no-repeat;
}
nav {
	float:left;
	width:443px;
	z-index: 100;
	margin:0 -7px;
}
nav ul {
	display:block;
	float:right;
	width:auto;
}
nav ul li {
	position: relative;
	display:block;
	float:left;
	width:auto;
	height:42px;
	margin-bottom:0;
	cursor: pointer;
}
nav ul li a {
	display:block;
	width:auto;
	padding:0 7px 0 7px;
	text-align:center;
	color:#474647;
	text-decoration:none;
	text-transform:capitalize;
	font-size:15px;
	font-family:ArmitageSemiboldRegular, Helvetica, Arial, sans-serif;
	min-height:42px;
	line-height:22px;
  height: auto !important;
  height: 1%; /*For IE*/
  	border: #fff 1px solid;
	border-bottom:0;
	background:#fff;
}
nav ul li:hover a:after {
	position:absolute;
	display:block;
	width:100%;
	height:1px;
	top:41px;
	left:0;
	border-bottom:#fff 1px solid;
	z-index:200;
    content: '';
}

nav ul li a:visited, nav ul li a:active {
	color:#474647;
}
nav ul li a:hover,
nav ul li:hover a {
	color:#2469a7;
	border:#ededed 1px solid;
	border-bottom:0;
}
nav ul li.nosub a:hover,
nav ul li.nosub:hover a {
  	border: #fff 1px solid;
}
nav ul li.nosub:hover a:after {display:none;}

/* 2nd Menu */

nav ul div {
	position:relative;
	background:red;
	zoom:1;
}
nav ul ul {
	margin: 0;
	border: 0;
	padding: 0;
	background:#fff;
	border:#ededed 1px solid;
	width: 130px;
	padding:8px 12px;
	list-style: none;
	display: none;
	position: absolute;
	top: 42px;
	left: 0;
	z-index: 100;
}
nav ul ul:after /*From IE 7 lack of compliance*/{
	clear: both;
	display: block;
	font: 1px/0px serif;
	content: ".";
	height: 0;
	visibility: hidden;
}
nav ul ul li {
	border: 0;
	padding:0;
	height: auto;
	text-align:left;
	color: #2469a7;
	background-color: #fff;
	border:0;
	border-top:#f3f3f3 1px solid;
	width: 130px !important;
	float: left; /*For IE 7 lack of compliance*/
	display: block !important;
	display: inline; /*For IE*/
}
nav ul ul li:first-child {border-top:0;}
nav ul li ul li a {
	margin:0;
	border: 0;
	padding:0;
	float: none !important; /*For Opera*/
	float: left; /*For IE*/
	display: block;
	color: #2469a7;
	background-color: #fff;
	border:0;
	min-height:24px;
	font-size:13px;
	line-height:20px;
	font-weight:normal;
  text-decoration: none;
  text-align:left;
  text-transform:capitalize;
  height: auto !important;
  height: 1%; /*For IE*/
   _margin-left:0px;
   _text-indent:0;
	text-shadow: none;
}
nav ul li:hover li a {
  	float: none;
	color: #2469a7;
	background-color: #fff;
	background-image:none;
	border:0;
}
nav ul li:hover ul li a:after {
	display:none;
}
/* 2nd Menu Hover Persistence */
nav ul li:hover li a:hover,
nav ul li:hover li:hover a {
	color:  #2469a7;
	background-color: #f3f3f3;
}
nav ul li:hover li:hover a:after {display:none;}

nav ul li:hover ul {display: block;}
/* // end menu */

#longboard {
	position: relative; 
	width: 100%;
	height:95px;
	margin: 0; 
	padding: 0;
	background:url(../images/fasha_top.png) center top no-repeat;
	text-align:center;
}
#longboard h2 {
	display:block;
	width:980px;
	margin:auto;
	padding-top:34px;
	color:#fff;
	text-align:left;
}
#sha100 {
	position: relative; 
	width: 100%;
	height:30px;
	margin: 0; 
	padding: 0;
	background:url(../images/sha100.png) center top no-repeat;
}
#sha100i {
	position: relative; 
	width: 100%;
	height:30px;
	margin: 0; 
	padding: 0;
	background:url(../images/sha100i.png) center top no-repeat;
}



/* #Content
=================================================== */
.whbox {
	position:relative;
	display:block;
	background:#fff;
}
.mainc {
	float:left;
	width:316px;
	margin-right:16px;
}
.mainc + .mainc + .mainc {margin-right:0;}
.mainc .whbox {
	width:276px;
	padding:18px 20px 12px 20px;
}
.column1 .whbox {
	width:675px;
	padding:21px 28px 12px 21px;
}
.column2 .whbox {
	width:209px;
	padding:21px 19px 1px 19px;
}
.mainc .whbox:after {
	position:absolute;
	display:block;
	width:100%;
	height:7px;
	bottom:-1px;
	left:0;
	background:url(../images/sha3.png) left top no-repeat;
    content: '';
}
.column1 .whbox:after {
	position:absolute;
	display:block;
	width:100%;
	height:7px;
	bottom:-1px;
	left:0;
	background:url(../images/sha1.png) left top no-repeat;
    content: '';
}
.column2 .whbox:after {
	position:absolute;
	display:block;
	width:100%;
	height:7px;
	bottom:-1px;
	left:0;
	background:url(../images/sha2.png) left top no-repeat;
    content: '';
}
.column1 .whbox.mz:after {
	position:absolute;
	display:block;
	width:100%;
	height:7px;
	bottom:-1px;
	left:0;
	background:url(../images/shao.png) left top no-repeat;
    content: '';
}

.column1 .whbox.mz {width:724px; padding:0;}
.column2 .whbox.mz {width:247px; padding:0;}
.mainc .whbox.mz {width:316px; padding:0;}

.whbox .half {
	float:left;
	width:316px;
	margin-right:33px;
}
.whbox .half + .half {margin-right:0;}

#sub h3, #sub h4 {
	display:block;
	width:100%;
	margin-bottom:6px;
	margin-top:-6px;
	padding:0 0 10px 0;
	background:url(../images/arr.png) right 8px no-repeat;
}
#sub ul {margin-bottom:10px;}
#sub li {
	line-height:26px;
	border-top:#e5e5e5 1px solid;
	padding:0;
	margin:0;
}
#sub li:first-child {border-top:0;}
#sub li a, #sub li a:visited, #sub li a:hover, #sub li a:active {
	display:block;
	width:100%;
	line-height:26px;
	padding:0;
	margin:0;
	color:#2670b2;
	text-decoration:none;
}
#sub li a:hover, #sub li a:active, #sub li a.active {
	color:#474647
}

/* #Gray Button
================================================= */
	a.grbutton, 
	button.grbutton,
	input[type="submit"].grbutton,
	input[type="reset"].grbutton,
	input[type="button"].grbutton {
		background: #525252; /* Old browsers */
		background: -moz-linear-gradient(top, rgba(92,92,92,.9) 0%, rgba(66,66,66,.9) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(92,92,92,.9)), color-stop(100%,rgba(66,66,66,.9))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(92,92,92,.9) 0%,rgba(66,66,66,.9) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(92,92,92,.9) 0%,rgba(66,66,66,.9) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(92,92,92,.9) 0%,rgba(66,66,66,.9) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(92,92,92,.9) 0%,rgba(66,66,66,.9) 100%); /* W3C */
	  border: 1px solid #646464;
	  border-top: 1px solid #858585;
	  border-left: 1px solid #858585;
	  padding: 4px 12px;
	  -moz-border-radius: 4px;
	  -webkit-border-radius: 4px;
	  border-radius: 4px;
	  color: #fff;
	  display: inline-block;
	  font-size: 14px;
	  font-weight: normal;
	  text-decoration: none;
	  text-shadow: none;
	  text-transform:uppercase;
	  cursor: pointer;
	  margin-bottom: 0;
	  line-height: 25px;
	  font-family: ArmitageSemiboldRegular, Helvetica, Arial, sans-serif; }
	  
	a.grbutton:hover, 
	button.grbutton:hover,
	input[type="submit"].grbutton:hover,
	input[type="reset"].grbutton:hover,
	input[type="button"].grbutton:hover,
	a.grbutton:active, 
  	button.grbutton:active,
	input[type="submit"].grbutton:active,
	input[type="reset"].grbutton:active,
	input[type="button"].grbutton:active {
		color: #fff;
		background: #323232; /* Old browsers */
		background: -moz-linear-gradient(top, rgba(123,123,123,.9) 0%, rgba(44,44,44,.9) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(123,123,123,.9)), color-stop(100%,rgba(44,44,44,.9))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(123,123,123,.9) 0%,rgba(44,44,44,.9) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(123,123,123,.9) 0%,rgba(44,44,44,.9) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(123,123,123,.9) 0%,rgba(44,44,44,.9) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(123,123,123,.9) 0%,rgba(44,44,44,.9) 100%); /* W3C */
	  border: 1px solid #646464;
	  border-top: 1px solid #858585;
	  border-left: 1px solid #858585; }

/* #Gray1 Button
================================================= */
	a.gr1button, 
	button.gr1button,
	input[type="submit"].gr1button,
	input[type="reset"].gr1button,
	input[type="button"].gr1button {
		background:url(../images/button_small.png) left top no-repeat;
		width:67px;
		height:28px;
	  border: 0;
	  padding: 0;
	  text-align:center;
	  -moz-border-radius: 0;
	  -webkit-border-radius: 0;
	  border-radius: 0;
	  color: #fff;
	  display: inline-block;
	  font-size: 13px;
	  font-weight: normal;
	  text-decoration: none;
	  text-shadow: none;
	  text-transform:none;
	  cursor: pointer;
	  margin: 0;
	  line-height: 25px;
	  font-family: ArmitageSemiboldRegular, Helvetica, Arial, sans-serif; }
	  
	a.gr1button:hover, 
	button.gr1button:hover,
	input[type="submit"].gr1button:hover,
	input[type="reset"].gr1button:hover,
	input[type="button"].gr1button:hover,
	a.gr1button:active, 
  	button.gr1button:active,
	input[type="submit"].gr1button:active,
	input[type="reset"].gr1button:active,
	input[type="button"].gr1button:active {
		color: #fff;
		background:url(../images/button_small.png) left bottom no-repeat;
}

/* #Headings
================================================= */
#features h2 {
	display:block;
	padding-left:29px;
	padding-top:275px;
	color:#fff;
}

/* #Specific
================================================== */
#features {
	width:724px;
	height:323px;
	background:url(../images/features.jpg) left top no-repeat;
}

#call {padding-bottom:5px;}
#join {height:46px;}

#joini {
	position:relative;
	display:block;
	height:35px;
}
#join a.grbutton {
	width:225px;
	padding: 4px 10px;
	text-align:center;
	text-transform:uppercase;
	margin-bottom:5px;
}
#joini a.grbutton {
	width:292px;
	text-align:center;
	text-transform:uppercase;
	margin-bottom:5px;
}
#news p {
	line-height:18px;
	margin-bottom:18px;
}
#newsi{
	height:291px
}
#newsi h3 {
	margin-bottom: 15px;
}
#newsi p {
	line-height:18px;
	margin-bottom:15px;
}
#shipment {
	height:176px;
	margin-bottom:10px;
}
#shipment textarea {
	background:url(../images/shipment_te.png) left top no-repeat;
	border:0;
	width:264px;
	height:48px;
	min-height:48px;
}
#how_works {
	height:250px;
}

/* Classes
================================================== */
.mb0 {margin-bottom:0;}
.right {float:right;}